.wrapper__chat-main
  .wrapper__chat-main__upper-info
    .wrapper__chat-main__upper-info__left-box
      %h2.wrapper__chat-main__upper-info__left-box__current-group
        = @group.name
      %ul.wrapper__chat-main__upper-info__left-box__member-list
        ="Member:"
        - @group.users.each do |user|
          %li.wrapper__chat-main__upper-info__left-box__member-list__member
            = user.name
    .wrapper__chat-main__upper-info__edit-btn
      =link_to "Edit", edit_group_path(@group.id) 
  .wrapper__chat-main__messages
    = render @messages
  .wrapper__chat-main__message-form
    = form_for [@group, @message] do |f|
      .wrapper__chat-main__message-form__new-text
        = f.text_field :content, class: 'wrapper__chat-main__message-form__new-text__text', placeholder: 'type a message'
        = f.label :image, class: 'wrapper__chat-main__message-form__new-text__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: "wrapper__chat-main__message-form__new-text__image__file"
        = f.submit 'Send', class: "wrapper__chat-main__message-form__new-text__submit-btn"






