.wrapper__chat-main__messages__message{"data-message-id": "#{message.id}"}
  .wrapper__chat-main__messages__message__upper-info
    %p.wrapper__chat-main__messages__message__upper-info__talker
      = message.user.name
    %p.wrapper__chat-main__messages__message__upper-info__date
      = message.created_at.to_s(:datetime)
  .wrapper__chat-main__messages__message__lower-info
    %p.wrapper__chat-main__messages__message__lower-info__text
      = message.content
      - if message.image.present?
        %p.wrapper__chat-main__messages__message__lower-info__image
        = message.content
        = image_tag message.image.url, class: 'lower-info__image' if message.image.present?
